/* menu.css */
.menu-toggle {
    position: relative;
    display: flex;
    align-items: center; /* Aligner verticalement l'icône et le texte "Menu" */
    margin: 10px;
}

.menu-icon {
    font-size: 30px;
    cursor: pointer;
    color: #333; /* Couleur de l'icône et du texte */
}

.menu {
    display: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    position: absolute;
    top: 40px;
    right: 10px;
    width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu li {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.menu li:last-child {
    border-bottom: none;
}

.menu li a {
    text-decoration: none;
    color: #5b287c;
}

.menu li a:hover {
    color: #472362;
}
